// -------------COLORS ----- //
@import "bootstrap";

$lightShade: #F5F8F9;
$lightAccent: #6BB2D8;
$brandColor: #BD5862;
$darkShade: #E68079;
$darkAccent: #364594;

.light-shade {
    color: $lightShade;
}

.light-accent {
    color: $lightAccent;
}

.brand-color {
    background-color: $brandColor;
    color: white;
}

.dark-shade {
    color: $darkShade;
}

.dark-accent {
    color: $darkAccent;
}

//---------------------------//

//-------- GENERAL CSS ----- //

.background-video {

    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

main {
    margin: 0 auto;
    max-width: 90%;
    padding: 50px 30px;
}



//---------------------------//

//-----DESKTOP PROPERTIES-----//
nav {
    height: 7.5vh;
    display: block;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;
    display: flex;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    min-width: 35rem;

    .logoCol {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .linksCol {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    svg {
        max-height: 2rem;
        max-width: 2rem;


    }

    a {
        text-decoration: none;
    }

}

.view {

    background-color: rgba(0, 0, 0, 0.1);
    color: $lightShade;
    border: none;
    min-width: 80vw;
    min-height: 80vh;
    margin-top: 15vh;
    transform: translateY(-17%);

    .miniCard {
        // display: block;
        // justify-content: space-between;
        max-width: 12.5rem;
        min-height: 12.5rem;
        // margin-right: 2rem;
        background-color: $darkShade;

        svg {
            max-width: 4rem;
            max-height: 4rem;
        }
    }




    h2 {
        font-size: 2em;
    }

    h4 {
        font-size: 1em;
    }

    .btn {
        min-width: 10rem;
        min-height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            max-width: 1.5rem;
            max-height: 1.5rem;
        }
    }

    .btn-primary {
        @include button-variant($darkAccent, lighten($darkAccent, 7.5%), $lightShade, lighten($darkAccent, 5%), lighten($darkAccent, 10%), darken($darkAccent, 30%));
    }


}

.contactView {
    max-height: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: $lightShade;
    border: none;
    min-width: 80vw;
    max-height: max-content;
    margin-top: 15vh;
    transform: translateY(-17%);
}

.project-image {
    max-width: 20rem;
}

.homePageLinks {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.footerLinks {
    list-style: none;
    /* padding: 0;
    margin-top: 0; */

}

// .home-links {
//     margin-bottom: 30px;
// }

.profilePic {
    // min-height: 50vh;
    // min-width: 25vw;
    max-width: 25rem;
}

.resumeButton {
    min-width: 12rem;
}

.resumeButtonSVG {
    max-height: 2rem;
    max-width: 2rem;
}

.homeName {
    h3 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.socialSvg {
    color: $darkAccent;
    max-height: 5rem;
    max-width: 5rem;
}

.buttonSvg {
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.footer {
    transform: translateY(-8rem)
}

//---------------------------//

//-----TABLET PROPERTIES-----//

// @media (max-width: ){}
//---------------------------//

//-----MOBILE PROPERTIES-----//

@media (max-width: 767px) {
    #background-video {
        height: 100vh;
        width: 100vw;
    }

    .card {
        // height: 50vh;
        width: 80vw;
        right: 4vw;

    }

    .profilePic {
        // height: 50%;
        width: 15rem;
        right: 3rem;
        // max-width: 40rem;
    }

    .project-image {
        width: 100%
    }

    p {
        font-size: 0.75rem;
    }

    .footerLinks {
        // right: 30rem;
    }

    // .links-container {
    //     display: none;
    // }




}

//---------------------------//







@import '~bootstrap/scss/bootstrap.scss';