$lightShade: #F5F8F9;
$lightAccent: #6BB2D8;
$brandColor: #BD5862;
$darkShade: #E68079;
$darkAccent: #364594;

.light-shade {
    color: $lightShade;
}

.light-accent {
    color: $lightAccent;
}

.brand-color {
    background-color: $brandColor;
    color: white;
}

.dark-shade {
    color: $darkShade;
}

.dark-accent {
    color: $darkAccent;
}

.card {
    color: $lightShade;
    border: none;
    min-width: 80vw;
    min-height: 85vh;
    // margin-left: 3vw;
}

svg {
    color: $darkAccent;
    max-height: 4rem;
    max-width: 4rem;
}

main {
    margin: 0 auto;
    max-width: 90%;
    padding: 50px 30px;
}

nav {
    height: 7.5vh;
    width: 100vw;
    font-size: 1.5rem;
    display: flex;
    position: sticky;

    .logo-container {
        // flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .links-container {
        // flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        right: 10vw;
    }

    a {
        text-decoration: none;
    }

}

.home-links {
    background-color: none;
}

.project-image {
    max-width: 20rem;
}

.homePageLinks {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.footerLinks {
    list-style: none;
    /* padding: 0;
    margin-top: 0; */

}

.home-links {
    margin-bottom: 30px;
}

.profilePic {
    // min-height: 50vh;
    // min-width: 25vw;
    max-width: 25rem;
}

.homeName {
    h3 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}



#background-video {


    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


@media (max-width: 767px) {
    #background-video {
        height: 100vh;
        width: 100vw;
    }

    .card {
        // height: 50vh;
        width: 80vw;
        right: 4vw;

    }

    .profilePic {
        // height: 50%;
        width: 15rem;
        right: 3rem;
        // max-width: 40rem;
    }

    .project-image {
        width: 100%
    }

    p {
        font-size: 0.75rem;
    }

    .footerLinks {
        // right: 30rem;
    }

    // .links-container {
    //     display: none;
    // }




}

@import '~bootstrap/scss/bootstrap.scss';